body, 
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
}
h1 {
    justify-content: center;
    align-items: center;
}
li {
    padding: 10px;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid rgb(107, 121, 114);
    border-radius: 15px;
    height:50px;
    width: 120px;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(188, 255, 188);
    box-shadow: 5px 5px rgb(187, 201, 228);
}
.slider {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid gray;
    width: 50px;
    height: 20px;
    background-color: gainsboro;
    border-radius: 20px;
}
.obj {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-7px) translateX(-6px);
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
    transition: 1s;
}
.move {
    transform: translateY(-7px) translateX(20px) ;
    transition: 0.5s;
} 
.obj:hover {
    background-color: rgb(110, 110, 110);
    cursor: grab;
}
.sm {
    display: flex;
    justify-content: center;
    align-items: center;
}
.padaugint {
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
}
.send {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 300px;
    background-color: rgb(163, 163, 163);
    border: 4px rgb(236, 106, 82) dashed;
}
.palet {
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 70px;
    background-color: rgb(241, 241, 162);
    border: 1px rgb(139, 139, 139) solid;
    border-radius: 4px;
}
.palet2 {
    transform: translateX(15px); 
    width: 50px;
    height: 70px;
    background-color: rgb(241, 241, 162);
    border: 1px rgb(139, 139, 139) solid;
    border-radius: 4px;
}
.boxes1 {
    width: 20px;
    height: 60px;
    z-index: 3;
}
.boxes2 {
    width: 24px;
    height: 30px;
}
.boxes3 { 
    width: 18px;
    height: 28px;
}
.boxes4 {
    width: 12px;
    height: 23px;
}
.boxes5 {
    width: 22px;
    height: 12px;
}
.shape {
    background-color: darkgoldenrod;
    border: 1px rgb(65, 65, 65) solid;
}
.boxes6 {
    width: 50px;
    height: 60px;
}
.inn1 {
    width: 25px;
    height: 37px;
    display: flex;
    border-right: 2px green solid;
}
.inn2 {
    width: 49px;
    height: 20px;
    display: flex;
    border-top: 2px green solid;
}
.boxes7 {
    width: 25px;
    height: 55px;
}
.in {
    display: flex;
    align-items: center;
}
.rotate {
    rotate: 90deg;
}
.two {
    flex-direction: column;
    padding: 0;
}
.kontrole {
    display: flex;
}
.onto {
    transform: translateY(132px);
}